
p {color: green;}

@font-face {
    font-family: 'antarcticaexpanded_bold';
    src: url('https://previews.dropboxusercontent.com/s/h38jenxcikd7txa/antarctica-expandedbold-webfont.woff2?dl=0') format('woff2');
    font-weight: normal;
    font-style: normal;

}
 
h1 {
  font-family: antarcticaexpanded_bold !important;
  
}

.notion-callout__content {
color: var(--color-bg-default);
justify-content: center;
border-radius: 100px;
align-items: center;
width: fit-content;
font-weight: 500;

font-size: 16px;
padding: 0 30px;
display: flex;
border: none;
  
}

.notion-file:hover {
  background: unset ;
}

.notion-file__icon  {
  display: none;
    
}


.notion-file__size  {
  display: none;
}
